body {
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 4rem;

}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
    color: #e6e6fa;
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.motivation-img {
    border: 20px solid #e6e6fa ;
    width: 100%;
}